/******************************************
/* CSS
/*******************************************/

@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/******************************************
/* LAYOUT
/*******************************************/

.navbar .navbar-brand {
  font-size: 2rem;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
  color: #01a5ef;
}
.fa-bars {
  color: #01a5ef;
  font-size: 30px;
}

/* TODO: Media Queries to figure out responsiveness */
@media all and (max-width: 768px) {
}

section {
  padding: 1.25em;
}

footer {
  background-color: #282828;
  color: #ccc;
}
footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 150px;
  padding: 0;
}
#socials {
  list-style-type: none;
  justify-content: center;
}

#socials li {
  padding: 1em;
}
.copyright {
  text-align: center;
  padding-bottom:15px
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
